@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/rubik-v9-latin-regular.woff") format("woff"); 
}
@font-face {
  font-family: "Rubik";
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src: url("../fonts/Rubik-Medium.woff2") format("woff2"), 
  url("../fonts/Rubik-Medium.woff") format("woff"); 
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/rubik-v9-latin-700.woff2") format("woff2"), 
  url("../fonts/rubik-v9-latin-700.woff") format("woff"); 
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"), 
  url("../fonts/roboto-v20-latin-regular.woff") format("woff"); 
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/roboto-v20-latin-italic.woff2") format("woff2"), 
  url("../fonts/roboto-v20-latin-italic.woff") format("woff"); 
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/roboto-v20-latin-500italic.woff2") format("woff2"), 
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:url("../fonts/roboto-v20-latin-500.woff2") format("woff2"),
  url("../fonts/roboto-v20-latin-500.woff") format("woff"); 
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #434343;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1240px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
}
/* BODY HEADER SECTION */
.header-section {
  border-top: 4px solid #295093;
  background-color: #F6F6F9;
  padding: 18px 0;
}
.header-section-top {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
  padding: 30px 0;
}
.logo-link {
  padding: 4px 7px;
  background-color: #fff;
  box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
  border-radius: 5px;
}
.logo-img {
  width: 303px;
  height: 33px;
}
/* Exchange-rates */
.money-exchange {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 19px;
  color: #7A7A7A;
  list-style-type: none;
  padding: 12px 20px;
  margin: 0;
}
.money-exchange-list:not(:last-child) {
  margin-right: 26px;
}
.money-exchange-icon {
  color: #285193;
}
/* Header-section-left */
.header-section-left {
  width: 295px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
}
/* Search-button */
.search-button {
  padding: 8px;
  background: #FFFFFF;
  border:none;
  border-radius: 5px;
}

/* Language Ru Button */
.language-ru{
  display: flex;
  align-items: center;
  padding: 10px 11px;
  border: none;
  background-color: #fff;
  border-radius: 5px;
}

.language-ru img{
  border-radius: 50%;
  margin-right: 5px;
}

.language-ru span {
  margin-top: 5px;
  font-weight: 500;
}

/* Telegram-join-link */
.telegram-join-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 11px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
  border-radius: 5px;
}
.telegram-join-link img{
  margin-right: 8px;
}
/* Header-navigation-part */
.nav-bar {
  width: 1200px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
  border-radius: 5px;
  margin-top: 14px;
}
.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 21px 25px;
  margin: 0;
  list-style-type: none;
}
.nav-menu-list a {
  text-decoration: none;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  color: #515151;
}
.nav-menu-list a:hover, .active-menu-list a {
  color: #285193;
}
/* Aside-phone-number-section */
.phone-number{
  background: #F6F6F9;
  padding-bottom: 23px;
}
.phone-number-link, .phone-number-link img{
  display: block;
}
/* Covid info section */
.corona-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  margin: 20px 0;
  background: #F6F6F9;
  border-radius: 5px;
}
.corona-info h3{
  width: 310px;
  padding: 12px 70px 12px 25px;
  margin: 0;
  border-right: 2px solid #EB5569;;
}
.corona-info-text{
  width: 161px;
  border-right: 2px solid #F4CCD1;
  height: 49px;
}
.black{
  border: none;
}
.red::before{
  display: inline-block;
  width: 38px;
  height: 40px;
  background-image: url("../img/red-emoji.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  content: "";
}
.green::before{
  display: inline-block;
  width: 38px;
  height: 40px;
  background-image: url("../img/grren-emoji.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  content: "";
}
.black::before{
  display: inline-block;
  width: 38px;
  height: 40px;
  background-image: url("../img/black-emoji.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  content: "";
}
.corona-info-text p{
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 8px;
  margin: 0;
}
.red p{
  color: #DB0000;
}
.green p{
  color: #05B135;
}
.black p{
  color: #000000;
}
.corona-info-text span{
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  color: #000;
}
/* Top news section */
.top-news {
  margin-bottom: 34px;
}
.top-news-row {
  display: flex;
  flex-wrap: wrap;
}
.top-small-new {
  margin-right: 20px;
  margin-bottom: 18px;
}
.top-small-new:nth-child(3n) {
  margin-right: 0;
}
.small-new-img {
  display: block;
  margin-bottom: 11px;
  border-radius: 5px;
}
.small-new-content {
  width: 320px;
}
.small-new-title {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #202020;
  margin-bottom: 11px;
}
.small-new-date {
  font-size: 14px;
  line-height: 17px;
  color: #6B6D97;
}
/* notification-menu */
.notification-menu{
  display: flex;
  align-items: center;
  padding: 33px 0;
  background: rgba(239, 186, 84, 0.18);
  border-radius: 5px;
}
.notification-menu span{
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 0 240px 0 17px;
  color: #000000;
}
.notification-menu::before{
  display: inline-block;
  width: 31px;
  height: 35px;
  background-image: url("../img/notification-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  margin-left: 34px;
  content: "";
}
.notification-menu a{
  display: inline-block;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 8px 15px;
  background: linear-gradient(90deg, #FE5C28 0%, rgba(255, 139, 54, 0.9) 88.43%);
  border-radius: 5px;
}
.notification-menu a:hover{
  background: linear-gradient(90deg, #c4481f 0%, rgba(167, 88, 32, 0.9) 88.43%);
}
/* latest-news-section */
.latest-news {
  display: flex;
  align-items: flex-start;
  margin: 35px 0;
}
.left {
  flex-grow: 1;
  margin-right: 40px;
}
.latest-news-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
} 
.left-inner {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.left-inner li {
  display: flex;
  margin-bottom: 20px;
}
.left-inner li img {
  width: 252px;
  height: auto;
}
.text {
  width: 510px;
  margin-left: 20px;
}
.text h4 {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #202020;
}
.text p {
  width: 480px;
  font-size: 15px;
  line-height: 18px;
  color: #434343;
}
.text span {
  font-size: 14px;
  line-height: 17px;
  color: #7688A4;
}
.text span::before {
  content: "";
  display: inline-block;
  background-image: url(../img/outline-date-range.svg);
  background-size: 96%;
  background-repeat: no-repeat;
  width: 17px;
  height: 15px;
  margin-right: 5px;
}
.right-top {
  margin-top: 20px;
  background-color: #F6F6F9;
  border-radius: 5px;
  padding: 20px;
}
.right-top h3 {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #202020;
  margin-bottom: 15px;
}
.right-text {
  border-bottom: 3px solid #E4E4E4;
}
.right-text:last-child {
  border-bottom: none;
}
.right-text p {
  margin: 0;
  margin-top: 10px;
  margin-top: 18px;
  margin-bottom: 15px;
  font-size: 17px;
  line-height: 20px;
  color: #202020;
  padding-right: 40px;
}
.right-text span {
  display: inline-block;
  font-size: 14px;
  line-height: 17px;
  color: #7688A4;
  margin-bottom: 15px;
}
.right-text .last-span {
  margin-bottom: 0;
}
.right::after {
  content: "";
  display: block;
  background-image: url("../img/ucell.png");
  width: 386px;
  height: 477px;
  margin-top: 30px;
}
.btn-dark {
  display: inline-block;
  margin-left: 300px;
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #FFFFFF;
  background: #295093;
  border-radius: 5px;
  padding: 10px 30px;
}
/* mobile-application-section */
.mobile-application{
  margin: 38px 0;
}
.mobile-app{
  background-color: #F6F6F9;
  background-image: 
  url("../img/purple-namanganliklar.png"),
  url("../img/white-back.jpg"), 
  url("../img/iphone.png"),
  url("../img/googleplay.png"), 
  url("../img/appstore.png");
  background-repeat: no-repeat;
  background-position: 
  left 81px top 106px,
  left 50px top 83px,
  left 19px top 37px,
  right 205px center,
  right 20px center;
  background-size: 
  85px auto,
  147px 132px,
  236px auto,
  auto,
  auto;
}
.mobile-app-text{
  width: 530px;
  margin-left: 245px;
  padding: 65px 0;
}
.mobile-app-text h3{
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #295093;
  margin: 0;
}
.mobile-app-text p{
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  margin-top: 10px;
}
/* site-footer-section */
.site-footer{
  background: #295093;
}
.footer-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.footer-logo{
  background: #133C82;
  border-radius: 5px;
  padding: 10px;
}
.footer-telegram{
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-telegram span{
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: #FFFFFF;
  margin-right: 17px;
}
.footer-telegram-button{
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding: 10px;
  background: #FFFFFF;
  border-radius: 5px;
}
.footer-telegram-button img{
  margin-right: 7px;
}
.footer-telegram-button span{
  font-size: 14px;
  line-height: 17px;
  color: #295093;
  margin: 0;
}
.footer-line{
  height: 3px;
  background: #133C82;
  border: none;
}
.footer-bottom{
  display: flex;
  align-items: center;
  padding: 12px 0;
}
.about-site-footer{
  width: 365px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin-right: 110px;
}
.footer-nav{
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-right: 115px;
}
.footer-nav li{
  padding: 4px 0;
}
.footer-nav a{
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: #FFFFFF;
  text-decoration: none;
  transition: border-bottom 0.3s ease;
}
.footer-nav a:hover{
  border-bottom: 1px solid #fff;
}
.footer-bottom:nth-child(3){
  flex-grow: 1;
}